
<div class="page-header">
  <div class="row">
    <img class="col-xs-4 col-sm-6 col-lg-2 logo" src="{{ ASSET_PATH }}NPN-Lambda-250.png" />
    <div class="col-xs-8 col-sm-6 col-lg-10">
      <div class="row">
        <h1 class="col-xs-12">
          {% if page.title %} 
              {{ page.title }} 
            {% else %} 
              {{ site.title }} 
            {% endif %}</h1>
      </div>
      <div class="row">
        <p class="tagline col-xs-12">
        {% if page.tagline %} 
          {{ page.tagline }} 
        {% else %} 
          {{ site.tagline }} 
        {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    {{ content }}
  </div>
</div>
